<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name = "testNG.Listeners"/>

</listeners>

<parameter name = "url" value ="qaclickacademy"/>
  <test thread-count="3" name="Regression">
    <classes>
      <class name="testNG.First_Class">
      	<methods>
	<exclude name ="second"/>
	</methods>
	</class>

      <class name="testNG.Second_Class"/>
      <parameter name = "url" value ="qaclickacademy"/>
      </classes>
      </test>
      
      <test name = "Reg2">
      <classes>
      
      <class name="testNG.Third_Class"/>
      </classes>

    </test>
</suite>
